* {
  margin: 0;
  padding: 0;
}

body{
  background-color:#FF7A00 ;
}

@font-face {
  font-family: 'fontSpring-ExtraLight';
  src: url('./fonts/Fontspring-DEMO-lufga-extralight.otf') format('opentype')
}
@font-face {
  font-family: 'fontSpring-ExtraBold';
  src: url('./fonts/Fontspring-DEMO-lufga-extrabold.otf') format('opentype')
}
@font-face {
  font-family: 'fontSpring-lufga-black';
  src: url('./fonts/Fontspring-DEMO-lufga-black.otf') format('opentype')
}
@font-face {
  font-family: 'fontSpring-lufga-light';
  src: url('./fonts/Fontspring-DEMO-lufga-light.otf') format('opentype')
}

#entrar{
  font-family: 'fontSpring-ExtraBold'
}

.Group-7, #cadastro{
  font-family: 'fontSpring-ExtraLight'
}

.Group-6 h1{
  font-family: 'fontSpring-lufga-black';
  color: #FF7A00;
}
.Group-6 span {
  font-family: 'fontSpring-lufga-light';
}

.cards legend{
  font-family: 'fontSpring-lufga-black'
}
.cards span {
  font-family: 'fontSpring-lufga-light'
}

.Blog img, #entrar, #cadastro, .Group-7 span{
  cursor: pointer;
}
.ou-entre-com{
  font-family: 'fontSpring-lufga-light';
  color: #FF7A00;
}

