*{
    margin: 0;
    padding: 0;
}

.home-div{
    background: #FFF8F2;
    border: 2px solid black;
}
.div-header-div{
    display: flex;
    justify-content: space-between;
    
}
.Group-7{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 69px;
    margin-top: 62.62px;
    width: 320px;
    height: 28px;
}
.div-header-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 49px;
    height: 60px;
    width: 357px;
    margin-top: 47px;
    gap: 21px;
    
}


.Group-6{
    text-align: center;
    margin-top: 245px;
}


.div-header-header #cadastro{
    display: flex;
    width: 168px;
    height: 60px;
    padding: 20px, 40px, 20px, 40px;
    gap: 10px;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    

}
.div-header-header #entrar{
    display: flex;
    width: 168px;
    height: 60px;
    padding: 20px, 40px, 20px, 40px;
    gap: 10px;
    text-decoration: underline;
    color: black;
    align-items: center;
    justify-content: center;
    

}
#entrar{
    border-radius: 60px;
    border: 2px solid orange;
}
.cards{
    display: flex;
    width: 733.73px;
    height: 200px;
    margin-top: 122px;
    margin-left: 52px;    


}
.cards div{
    display: flex;
    flex-direction: column;
    width: 233px;
    border: solid #FF7A00 2px;
    border-radius: 20px;
    gap: 23px;
    margin-right: 20px;


}
.cards div legend{
    font-weight: bolder;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.cards div span{
    padding-right: 10px;
    padding-left: 10px;

}
.Blog{
    display: flex;
    flex-direction: column;
    background: black;
    margin-bottom: 0;
    margin-left: 80vw;
    width: 400px;
    padding: 0px, 89px, 0px, 0px;
    border-top-left-radius: 43px;

    
}
#blog{
    width: 225px;
    height: 90px;
    align-self: center;

    border-radius: 43.04px;

    
}
#Group-8{
    margin-left: 730px;
    height: 380px;
}

